<div class="container p-5" *ngIf="tableVisibility">
    <div class="border border-light rounded p-5 bg-style">
      <div>
        <button type="button" class="btn btn-sm btn-secondary" (click)="showForm()">
          New Class
        </button>
      </div>
  
      <hr />
  
      <div class="container">
        <div class="row">
          <table class="table table-striped table-hover table-sm" *ngIf="classesrpg">
            <tr class="thead-light">
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
      
            <tr *ngFor="let class of classesrpg">
              <td>{{ class.name }}</td>
              <td>{{ class.description }}</td>
              <td>
                <button type="button" class="btn btn-sm btn-outline-info" (click)="FormUpdate(class.classRpgId)">
                  Atualizar
                </button> |
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="RemoveConfirmation(class.classRpgId, class.name, modalContent)">
                  Excluir
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="container p-5" *ngIf="formVisibility">
    <div class="row">
      <div class="border border-dark rounded p-5 shadow bg-style" *ngIf="form">
        <h6>{{ titleForm }}</h6>
        <hr />
  
        <form [formGroup]="form" (ngSubmit)="SendForm()">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="name"
              [maxLength]="30"
            />
          </div>
  
          <div class="form-group">
            <label>Description</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="description"
              [maxLength]="30"
            />
          </div>
  
          <div class="container">
            <div class="row" style="margin-top: 5px;">
              <div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                  Save
                </button>
                <button type="button" class="btn btn-sm btn-dark" (click)="Back()">
                  Back
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <ng-template #modalContent>
      <div class="modal-header bg-style">
        <h4 class="modal-title pull-left">Exclusion confirmation</h4>
        <button type="button" style="background-color: black;" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-style">
        Do you confirm you want to remove {{nameClass}}?
      </div>
  
      <div class="modal-footer bg-style">
          <button type="button" class="btn btn-dark" (click)="modalRef.hide()">No</button>
          <button type="button" class="btn btn-outline-danger" (click)="RemoveClass(classRpgId)">Yes</button>
      </div>
    </ng-template>